@media screen and (max-width: 720px){
	.section__skills {
		.skills {
			.skills__tech {
				grid-template-columns: 1fr 1fr;
				grid-row-gap: 25px;
			}
		}
	}
}

@media screen and (max-width: 630px){
	.section__header {
		padding-top: 25px;
		.header-nav {
			nav {
				padding-bottom: 25px;
			}
		}
	}
}

@media screen and (max-width: 540px){
	.section__header {
		.header-nav {
			display: none;
		}
		.header-inform {
			padding-top: 10px;
			padding-bottom: 50px;
			grid-template-columns: 1fr 1fr;
			grid-gap: 0;
			.open-menu {
				grid-column: 2;
				grid-row: 1;
				align-self: start;
			}
			.header-inform__prof-age-city {
				justify-self:start;
				margin-top: 23px;
				margin-bottom: 36px;
			}
			.header-inform__language {
				display: none;
			}
			.header-inform__image {
				grid-column: 1/3;
			}
		}
	}
}

@media screen and (max-width: 440px){
	.section__header {
		.hidden-menu {
			height: 100%;
		}
	}
	.section__skills {
		.skills {
			.skills__tech {
				grid-template-columns: 1fr;
				grid-row-gap: 25px;
			}
		}
	}
}

@media screen and (max-width: 375px){
	.section__header {
		.hidden-menu {
			height: 100%;
		}
		.header-inform {
			.header-inform__image {
				.desktop-img {
					display: none;
				}
				.mobile-img {
					display: block;
				}
			}
		}
	}
	.section__about-me {
		padding: 81px 0;
	}
	.section__skills {
		.skills {
			padding-top: 83px;
			padding-bottom: 98px;
			text-align: center;
		}
	}
	.section__portfolio {
		padding-top: 81px;
	}
	.section__footer {
		padding-top: 82px;
		padding-bottom: 90px;
	}
}

@media screen and (max-width: 340px){
	.container {
		padding: 0 20px;
	}
	.hidden-menu {
		.hidden-menu__close-part {
			margin-right: 20px;
		}
	}
	.section__footer {
		.footer {
			.footer__form {
				.form__question {
					width: 100%;
				}
			}
		}
	}
}