$active_color: #070707;
$passive_color: #828282;
$active_font: 'Gilroy-Bold', sans-serif;
$passive_font: 'Gilroy-Medium', sans-serif;

* {
	margin: 0;
}

.container {
	max-width: 943.61px;
	margin: 0 auto;
	padding: 0 29px;
}

.section__header {
	padding-top: 31px;
	position: relative;
	.header-nav {
		nav {
			display: flex;
			justify-content: space-between;
			padding-bottom: 34px;
			border-bottom: 1px solid $passive_color;
			.nav__link {
				list-style: none;
				a {
					text-decoration: none;
					font-size: 18px;
					line-height: 22px;
					color: $passive_color;
					font-family: $active_font;
					transition: .2s ease all;
					&:hover {
						color: $active_color;
					}
				}
			}
			.active__link {
				a {
					color: $active_color;
				}
			}
		}
	}
	.header-inform {
		padding-top: 29px;
		padding-bottom: 104.06px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-row-gap: 40px;
		align-items: end;
		// position: relative;
		.header-inform__name {
			h1 {
				line-height: 59px;
				font-size: 47.3392px;
				font-family: $active_font;
			}
		}
		.header-inform__prof-age-city {
			justify-self: center;
			p {
				font-family: $passive_font;
				font-size: 18px;
				color: $active_color;
				line-height: 22px;
			}
		}
		.header-inform__language {
			transform: rotate(-90deg);
			justify-self: end;
			position: relative;
			h4 {
				font-family: $active_font;
				font-size: 16px;
				color: $passive_color;
				position: absolute;
				left: 0;
				bottom: 0;
				width: 69px;
				span {
					color: $active_color;
				}
			}
		}
		.header-inform__image{
			grid-column: 1/4;
			img {
				max-width: 100%;
			}
			.mobile-img {
				display: none;
			}
		}
		.open-menu {
			justify-self: end;
			cursor: pointer;
			i {
				font-size: 35px;
			}
		}
	}
	.hidden-menu {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		background: #fff;
		display: grid;
		width: 100%;
		grid-template-columns:2fr 1fr;
		grid-template-rows: 2fr 1fr;
		padding-top: 36px;
		padding-bottom: 36px;
		display: none;
		transition: .2s ease all;
		nav {
			display: block;
			border: none;
			margin-left: 29px;
			.nav__link {
				margin-bottom: 30px;
				list-style: none;
				a {
					text-decoration: none;
					font-size: 18px;
					line-height: 22px;
					color: $passive_color;
					font-family: $active_font;
					transition: .2s ease all;
					&:hover {
						color: $active_color;
					}
				}
			}
			.active__link {
				a {
					color: $active_color;
				}
			}
		}
		.hidden-menu__close-part {
			justify-self: end;
			margin-right: 29px;
			.close-menu {
				cursor: pointer;
				font-size: 35px;
			}
		}
		.header-inform__language {
			transform: rotate(90deg);
			position: absolute;
			right: 29px;
			top: 60%;
			height: 69px;
			h4 {
				font-family: $active_font;
				font-size: 16px;
				color: $passive_color;
				// position: absolute;
				right: 0;
				bottom: 0;
				width: 69px;
				span {
					color: $active_color;
				}
			}
		}
	}
}

.section__about-me {
	background: #F6F6F6;
	text-align: center;
	padding: 110.5px 0;
	.about-me__title {
		font-family: $active_font;
		color: $active_color;
		font-size: 34px;
		line-height: 42px;
	}
	.about-me__text {
		max-width: 480.34px;
		margin: 0 auto;
		margin-top: 22px;
		text-align: center;
		span {
			font-family: $passive_font;
			color: $active_color;
			font-size: 18px;
			margin-bottom: 10px;
		}
	}
}

.section__skills {
	.skills {
		padding-top: 91px;
		padding-bottom: 110px;
		text-align: center;
		.skills__title {
			font-family: $active_font;
			color: $active_color;
			font-size: 34px;
			line-height: 42px;
			margin-bottom: 69px;
		}
		.skills__subtitle {
			font-size: 18px;
			line-height: 22px;
			color: $active_color;
			font-family: $passive_font;
		}
		.skills__tech {
			margin-top: 83px;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			.tech__box {
				height: 206.29px;
				display: grid;
				grid-auto-rows: 1fr 2fr 1fr;
				img {
					justify-self: center;
				}
				.tech__name {
					font-size: 14px;
					line-height: 17px;
					font-family: $active_font;
					color: $passive_color;
					width: 80px;
					justify-self: center;
					align-self: center;
				}
			}
		}
	}
}

.section__portfolio {
	padding-top: 112.93px;
	background: #f6f6f6;
	.portfolio {
		text-align: center;
		.portfolio__title {
			font-size: 34px;
			line-height: 42px;
			color: $active_color;
			font-family: $active_font;
			margin-bottom: 47px;
		}
		.portfolio__projects {
			.project {
				padding-bottom: 99.09px;
				.project__img {
					max-width: 100%;
					margin-bottom: 44.88px
				}
				.project__title {
					font-size: 18px;
					line-height: 22px;
					color: $active_color;
					font-family: $passive_font;
					text-decoration: underline;
				}
			}
		}
	}
}

.section__footer {
	padding-top: 114.24px;
	padding-bottom: 123.19px;
	.footer {
		text-align: center;
		.footer__contacts {
			font-size: 34px;
			line-height: 42px;
			font-family: $active_font;
			color: $active_color;
			margin-bottom: 20.03px;
		}
		.footer__form {
			margin-top: 20.03px;
			margin-bottom: 85.78px;
			.form__question {
				font-size: 18px;
				line-height: 22px;
				font-family: $passive_font;
				color: $active_color;
				width: 275.14px;
				margin: 0 auto;
				padding-bottom: 29.6px;
			}
			.form__button {
				background: $active_color;
				border: none;
				border-radius: 50px;
				color: #fff;
				padding: 13px 29.08px 12px 29.08px;
				font-family: $active_font;
				font-size: 18px;
				cursor: pointer;
				outline: none;
			}
		}
		.footer__social-networks {
			max-width: 342.18px;
			margin: 0 auto;
			display: flex;
			justify-content: space-between;
			margin-bottom: 45.06px;
		}
		.social-networks__text {
			font-size: 14px;
			line-height: 17px;
			font-family: $passive_font;
			color: $passive_color;
		}
	}
}

@import 'media'